@page
@model SparktonianNet.Pages.GamesModel
@{
    ViewData["Title"] = "Games";
}

<div class="text-center">
    <h1 class="display-4">Games</h1>
</div>

<div class="container">
    <div class="row">
            <div class="col-md-4">
                <h2>Guess the Word</h2>
                <p style="width:max-content">Try to guess a word in 5 tries, with a maximum of 3 hints per game.</p>
                <p><a class="btn btn-primary" href="Games/GuessWord" role="button">Play &raquo;</a></p>
            </div>
        <hr>
    </div>
</div>