@page
@model SparktonianNet.Pages.SuggestionConfirmationModel
@{
    string suggestionName = Request.Query["feature"].ToString();
    string suggestionDescription = Request.Query["description"].ToString();
    string suggestionID = Guid.NewGuid().ToString();

    if (suggestionDescription.Length < 40 || suggestionName.Length < 5)
    {
        <div class="text-center">
            <h1 class="display-4">Your suggestion is invalid.</h1>
        </div>

    } else
    {
        <div class="text-center">
            <h1 class="display-4">Your suggestion has been sent!</h1>

            <br>

            <h3>Feature: @suggestionName</h3>
            <p>
                Description: @suggestionDescription <br>
                Your suggestion ID is: @suggestionID
            </p>

        </div>

        using (StreamWriter file = new StreamWriter("suggestions.txt", true))
        {
            file.WriteLine(suggestionID + " { ");
            file.WriteLine("Feature: " + suggestionName);
            file.WriteLine("Description: " + suggestionDescription);
            file.WriteLine("}");
        }
    }
}